<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.AI.OpenAI" version="1.0.0-beta.13" />
  <package id="Azure.Core" version="1.37.0" />
  <package id="Handlebars.Net" version="2.1.4" />
  <package id="Handlebars.Net.Helpers" version="2.4.1.3" />
  <package id="Handlebars.Net.Helpers.Core" version="2.4.1.3" />
  <package id="Humanizer.Core" version="2.11.10" />
  <package id="JetBrains.Annotations" version="2023.3.0" manuallyInstalled="true" />
  <package id="Json.More.Net" version="1.9.0" />
  <package id="JsonPointer.Net" version="3.0.3" />
  <package id="JsonSchema.Net" version="5.4.2" />
  <package id="JsonSchema.Net.Generation" version="3.5.1" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" />
  <package id="Microsoft.Bcl.Numerics" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="8.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Diagnostics" version="8.0.0" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" />
  <package id="Microsoft.Extensions.Hosting" version="8.0.0" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Console" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Debug" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="8.0.0" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" />
  <package id="Microsoft.KernelMemory.Abstractions" version="0.29.240219.3" manuallyInstalled="true" />
  <package id="Microsoft.SemanticKernel" version="1.4.0" manuallyInstalled="true" />
  <package id="Microsoft.SemanticKernel.Abstractions" version="1.4.0" />
  <package id="Microsoft.SemanticKernel.Connectors.OpenAI" version="1.4.0" />
  <package id="Microsoft.SemanticKernel.Core" version="1.4.0" />
  <package id="Microsoft.SemanticKernel.PromptTemplates.Handlebars" version="1.4.0" manuallyInstalled="true" />
  <package id="Microsoft.SemanticKernel.Yaml" version="1.4.0" manuallyInstalled="true" />
  <package id="Stef.Validation" version="0.1.1" />
  <package id="System.ClientModel" version="1.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" />
  <package id="System.Memory.Data" version="8.0.0" />
  <package id="System.Numerics.Tensors" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.2" />
  <package id="YamlDotNet" version="13.7.1" />
</packages>